
.res_filme_container {
    z-index: 999;
    color: white;
}

.res_filme {
    display: grid;
    grid-template-areas: 
    "res_filme_poster res_filme_titulo"
    "res_filme_poster res_filme_infos";
    grid-template-columns: auto 1fr;
    top: 0;
    z-index: 999;
    column-gap: 0.75rem;
    padding: 0.75rem;
    background-color: rgb(22, 22, 22);
    width:auto;
    border-radius: 0.5rem;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 10px 14px -3px rgba(0,0,0,0.5);
    border: 1px solid var(--vermelho);
    transition: 400ms;
}

.res_filme:hover {
    background-color: rgb(41, 41, 41);
    transition: 400ms;
}

.res_filme img {
    grid-area: res_filme_poster;
    height: 60px;
    border-radius: 0.25rem;
}

.res_filme h2 {
    grid-area: res_filme_titulo;
    align-self: flex-end;
    justify-self: self-start;
    color: var;
    font-size: 1.25rem;
}

.res_filme p {
    grid-area: res_filme_infos;
    font-size: 0.75rem;
}

@media (max-width: 1400px) {

    .res_filme img {
        height: 45px;
    }

    .res_filme h2 {
        font-size: 1rem;
    }

    .res_filme p {
        font-size: 0.75rem
    }

}