* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #343434 0%, #1A1A1A 99.99%);
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

main {
  padding: 1.5rem 5rem 0rem 5rem;
}

